{% extends "layout.html" %}

{% block head %}
<script>
    var game_id = "{{ game.id }}"
    var game_name = "{{ game.name }}"

    initialize_game = function(){
        if(localStorage.__imagineiff_player_name != undefined){
            $("#player_name")[0].value = localStorage.__imagineiff_player_name
        }

        if(localStorage.__imagineiff_game_id != game_id){
            console.log("Game ID does not match, starting fresh")

            reset_data()

            switch_screens("pick_name")
            return
        }

        switch_screens("loading")

        setInterval(game_loop, 500)
    }

    call = function(method, args){
        if(args == undefined) var args = ""

        return $.get("/ajax/" + method +
            "?game_id=" + localStorage.__imagineiff_game_id +
            "&player_id=" + localStorage.__imagineiff_player_id +
            "&" + args)
    }

    last_screen = null

    switch_screens = function(screen, force_redraw){
        if(force_redraw == undefined) var force_redraw = false

        if(!force_redraw)
            if(last_screen == screen) return

        $("#loading").addClass("hide")
        $("#pick_name").addClass("hide")
        $("#pregame").addClass("hide")
        $("#question").addClass("hide")
        $("#results").addClass("hide")

        switch(screen){
            case "pregame":
                $("#pregame").removeClass("hide")
                break

            case "pick_name":
                $("#pick_name").removeClass("hide")
                break

            case "loading":
                $("#loading").removeClass("hide")
                break

            case "question":
                $("#question").removeClass("hide")
                draw_questions_screen()
                break

            case "results":
                $("#results").removeClass("hide")

                // draw results screen
                var question = state.payload.question
                $("#results-question-text").text(question.text)

                if(state.payload.winning_answers.length == 1)
                    $("#results-answer").text(question.options[state.payload.winning_answers[0]].text)
                else
                    $("#results-answer").text("It's a tie!")

                $("#answers").html("")
                $("#everybody-answers").html("")
                $("#results-scoreboard").html("")

                // draw answer tally
                for(answer_id in state.payload.tally){
                    var answer_id = Number(answer_id)
                    // var answer_id = state.payload.answers[player_id]
                    // var player = get_player(player_id)
                    // var player_name = player.name
                    var count = state.payload.tally[answer_id][0]
                    var percent = state.payload.tally[answer_id][1]
                    var option = question.options[answer_id].text

                    // console.log([state.payload.winning_answers.includes(answer_id), answer_id, option, count])

                    $("#answers").append(
                        $("<tr>")
                            .append(
                                $("<td>")
                                    .text(option)
                            )
                            .append(
                                $("<td>")
                                    .append(
                                        $("<div>")
                                            .addClass("progress")
                                            .attr("style", "margin: 25px;")
                                            .append(
                                                $("<div>")
                                                    .addClass(state.payload.winning_answers.includes(answer_id) ? "progress-bar bg-success" : "progress-bar bg-warning")
                                                    .attr("style", "width: " + Math.floor(percent * 100) + "%;")
                                                    .text(Math.floor(percent * 100) + "%" + " / " + count + " vote(s)")
                                            )
                                    )
                            )
                    )
                }

                // draw everybody's answers
                for(player_id in state.payload.answers){
                    var player = get_player(player_id)
                    var answer_id = state.payload.answers[player_id]
                    var option = question.options[answer_id].text

                    $("#everybody-answers").append(
                        $("<tr>")
                            .append(
                                $("<td>")
                                    .text(player.name)
                                    .css("font-weight", "bold")
                            )
                            .append(
                                $("<td>")
                                    .text(option)
                            )
                    )
                }

                // draw scoreboard
                for(player_id in game_status.scoreboard){
                    var scores = game_status.scoreboard[player_id]
                    var score = scores.score
                    var score_percent = scores.percent
                    var leading = scores.leading

                    var player = get_player(player_id)
                    var player_name = player.name

                    $("#results-scoreboard").append(
                        $("<tr>")
                            .append(
                                $("<td>")
                                    .text(player_name)
                            )
                            .append(
                                $("<td>")
                                    .append(
                                        $("<div>")
                                            .addClass("progress")
                                            .attr("style", "margin: 25px;")
                                            .append(
                                                $("<div>")
                                                    .addClass(leading ? "progress-bar bg-success" : "progress-bar bg-warning")
                                                    .attr("style", "width: " + Math.floor(score_percent * 100) + "%;")
                                                    .text(score)
                                            )
                                    )
                            )
                    )
                }

                // $("#answers").text(state.payload.answers)
                break
        }

        last_screen = screen
    }

    game_loop = function(){
        // poll game status
        // because websockets are boooorrrriinnnggg
        var data = call("status")
        .done(function(data){
            var payload = JSON.parse(data)
            game_status = payload

            players = payload.players

            // draw player list
            $("#player_list").html("")
            for(i in payload.players){
                var player = payload.players[i]
                $("#player_list").append(
                    $("<tr>")
                        .append(
                            $("<td>")
                                .append(player.name)
                                .append(player.last_ping > 3 ? " <i style='color:gray;'>(bad connection)</i>" : "")
                                .append(player.is_admin ? " <i class=\"bi bi-star-fill\"></i>" : "")
                                .addClass("list-group-item")
                        )
                )
            }

            state = payload.state

            switch(state.name){
                case "question":
                    // check if question was changed/skipped, then force redraw
                    if($("#question-text").text() != state.payload.question.text){
                        switch_screens("question", true)
                    }
                    break

                case "results":
                    var timeleft = 60 - Math.floor(state.payload.duration)
                    if(timeleft < 0) var timeleft = 0

                    $("#results-seconds").text(timeleft)
                    $("#results-skip-wait").text(timeleft + " seconds left...")
                    break
            }

            // if admin, allow access to admin panel
            if(payload.is_admin){
                $("#pregame-admin").removeClass("hide")
                $("#game-skip-question-btn").removeClass("hide")
            }else{
                $("#results-wait-timer").removeClass("hide")
                $("#results-skip-btn").addClass("hide")
                $("#pregame-admin").addClass("hide")
            }

            $("#navbar-game-name").text(payload.game_name)

            switch_screens(state.name)
        })
        .fail(function(){
            window.location = "/?error"
        })
    }

    draw_questions_screen = function(){
        // draw questions screen
        var question = state.payload.question

        $("#question-text").text(question.text)

        // Reset "submit answer" button to default
        $("#submit_answer_btn_spinner").addClass("hide")
        $("#submit_answer_btn").removeAttr("disabled")

        $("#options").html("")
        for(i in question.options){
            var option = question.options[i]

            $("#options").append(
                $("<div>")
                    .addClass("form-check")
                    .append(
                        $("<input>")
                            .attr("type", "radio")
                            .attr("id", option.text)
                            .attr("value", i)
                            .addClass("form-check-input")
                            .attr("name", "question-answer")
                    )
                    .append(
                        $("<label>")
                            .text(option.text)
                            .addClass("form-check-label")
                            .attr("for", option.text)
                    )
            )
        }
    }

    start_game = function(){
        call("start")
    }

    submit_answer = function(){
        var answer = Number($("[name=question-answer]:checked").val())

        if(isNaN(answer)){
            alert("You must select an answer first, and then hit Submit answer.")
            return
        }

        call("submit_answer", "answer=" + answer)

        $("#submit_answer_btn_spinner").removeClass("hide")
        $("#submit_answer_btn").attr("disabled", "disabled")
    }

    skip_question = function(){
        call("skip_question")
    }

    get_player = function(id){
        for(i in players){
            if(players[i].id == id) return players[i]
        }
    }

    skip_results = function(){
        call("skip_results")
            .fail(function(response){
                alert("Failed to skip results page: " + response.responseText)
            })
    }

    reset_data = function(){
        delete localStorage.__imagineiff_player_id
        delete localStorage.__imagineiff_game_id
    }

    set_name = function(){
        var name = $("#player_name")[0].value

        $("#save_name_btn_spinner").removeClass("hide")
        $("#save_name_btn").attr("disabled", "disabled")
        $("#save_name_error").addClass("hide")

        $.get("/ajax/join?game_id=" + game_id + "&player_name=" + name)
        .done(function(data){
            // good to go, grab player id from here
            var payload = JSON.parse(data)
            status = payload

            var player_name = payload.player.name
            var player_id = payload.player.id
            var game_id = payload.game.id

            localStorage.__imagineiff_player_name = player_name
            localStorage.__imagineiff_player_id = player_id
            localStorage.__imagineiff_game_id = game_id

            document.cookie = "game_player=" + game_id + "_" + player_id
            console.log("Our player ID is " + player_id)

            initialize_game()
        })
        .fail(function(data){
            // no bueno, reset button
            $("#save_name_btn_spinner").addClass("hide")
            $("#save_name_btn").removeAttr("disabled")
            $("#save_name_error").removeClass("hide")
            $("#save_name_error").text(data.responseText)
        })
        // localStorage.__imagineiff_name = name
    }

    share = function(){
        navigator.share({
            "title": game_name,
            "url": window.location
        })
    }

    $(document).ready(function(){
        initialize_game()

        if(navigator.share)
            $("#pregame-sharebutton").removeClass("hide")

        $("#pregame-admin-game-name")
            .on("keyup", function(){
                game_name = this.value

                call("set-game-name", "value=" + game_name)
                    .fail(function(response){
                        console.log("Failed to set `" + game_name + "` as game name: " + response.responseText)
                        $("#pregame-admin-game-name").addClass("is-invalid")
                        $("#pregame-admin-game-name").nextAll()[1].innerHTML = response.responseText
                    })
                    .done(function(){
                        $("#pregame-admin-game-name").removeClass("is-invalid")
                    })
            })
    })
</script>
{% endblock %}

{% block navbar %}
<span class="navbar-brand d-flex align-items-right" id="navbar-game-name">
  {{ game.name }}
</span>
{% endblock %}
{% block body %}
    <div id="loading">
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <br/>Hold your horses.
    </div>

    <div id="pick_name" class="hide">
        <h3>You'll need a name before we can start.</h3>

        <div class="alert alert-danger hide" role="alert" id="save_name_error">

        </div>

        <div class="mb-3">
          <label for="player_name" class="form-label">Player Name</label>

          <div class="input-group">
              <input type="text" class="form-control" id="player_name" placeholder="Billy Bob, Bonkers Boop, etc...">
          </div>
        </div>

        <button onclick="set_name()" class="btn btn-primary" id="save_name_btn">
            <div class="hide spinner-border spinner-border-sm" role="status" id="save_name_btn_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            Save Name
        </button>
    </div>

    <div id="pregame" class="hide" class="container">
        <div class="text-center">
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Waiting for players.</span>
            </div>
            <h1>Waiting for players to join...</h1>
        </div>

        <div class="row">

            <div class="col card hide" id="pregame-admin" style="width: 49%; margin-right: 5px;">
                <div class="card-body">
                    <h5 class="card-title">Game Settings</h5>

                        <div class="form-floating mb-3 has-validation">
                          <input type="text" class="form-control" id="pregame-admin-game-name" value="{{ game.name }}">
                          <label for="floatingInput">Game Name</label>

                          <div class="invalid-feedback">
                              Error occurred.
                          </div>
                        </div>

                        <div class="form-floating mb-3">
                          <label for="pregame-admin-max-players" class="form-label">Maximum Players (50)</label>
                          <input type="range" class="form-range" min="2" max="50" value="50" id="pregame-admin-max-players">
                        </div>

                        <div class="form-floating mb-3">
                          <label for="pregame-admin-public" class="form-label">Public Game</label>
                          <input type="checkbox" id="pregame-admin-public" checked>
                        </div>

                        <button class="btn btn-primary" onclick="start_game()">Start Game</button>
                </div>
            </div>

            <div class="col card" style="width: 49%;">
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                    <table class="table table-striped table-borderless">
                        <tbody id="player_list">

                        </tbody>
                    </table>

                    <button class="btn btn-warning hide" onclick="share()" id="pregame-sharebutton">Share</button>
                    Share the URL with your friends to invite them!
                </div>
            </div>
        </div>
    </div>

    <div id="question" class="hide">
        <h1 id="question-text"></h1>
        <div id="options"></div>

        <button class="btn btn-primary" onclick="submit_answer()" id="submit_answer_btn">
            <div class="hide spinner-border spinner-border-sm" role="status" id="submit_answer_btn_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            Submit Answer
        </button>

        <button class="btn btn-danger hide" onclick="skip_question()" id="game-skip-question-btn">
            Skip
        </button>
    </div>

    <div id="results" class="hide">
        <h1>The results are in!</h1>
        <h4 id="results-question-text">.</h4>
        <h4 id="results-answer" style="color: green;">.</h4>

        <div>
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 50%;"></th>
                        <th style="width: 50%;"></th>
                    </tr>
                </thead>
                <tbody id="answers">

                </tbody>
            </table>
        </div>

        <h3>Everybody's Answers</h3>
        <table style="width: 100%;" class="table table-striped">
            <tbody id="everybody-answers">

            </tbody>
        </table>

        <div id="results-skip-wait" class="hide">

        </div>

        <button class="btn btn-primary" onclick="skip_results()" id="results-skip-btn">
            Skip Now (or wait <span id="results-seconds"></span> seconds)
        </button>

        <h3>Scoreboard</h3>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 50%;"></th>
                    <th style="width: 50%;"></th>
                </tr>
            </thead>
            <tbody id="results-scoreboard">

            </tbody>
        </table>
    </div>
{% endblock %}
